body {
  background-color: #05020B;
  color: #f0f0f0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.c1:hover {
  color: blueviolet;
}
.img{
  width: 250px;
  position: relative;
  right: 0px;
  top: 90px;
  animation: mover 2s ease-in-out infinite alternate
}

.planetas {
  position: absolute;
  bottom: 20;
  right: 0;
  transform: scaleX(-1);
  width: 300px;
  animation: mover 2s ease-in-out infinite alternate
}

@keyframes mover {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(35px);
  }
}

.curso .img_js {
  display: flex;
  width: 150px;
  position: relative;
  top: 150px;
  left: 100px;
  border-radius: 10px;
}

.curso .javaScript {
  font-size: 40px;
  position: relative;
  top: 20px;
  left: 280px;
}

.descrição {
  position: relative;
  top: 150px;
  align-items: center;
  padding: 20px 50px 50px 170px;
}

.descrição h2 {
  padding: 20px;
}

.descrição .descriçãoDoCurso {
  color: blueviolet;
  font-size: 30px;
}

.descrição p {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 25px;
}

.conteudoDoCurso {
  position: relative;
  top: 10px;
  left: 250px;
  align-items: center;
}

.conteudoDoCurso p {
  font-size: 25px;
  word-spacing: 10px;
  padding: 25px;
  color: #B1A1ED;
}

.conteudoDoCurso button {
  position: relative;
  left: 200px;
  padding: 10px 40px;
  border-radius: 7px;
  border: 1px solid rgba(213, 61, 255, 0.357);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 250px;
}

button:hover {
  background: rgb(140, 21, 203);
  box-shadow: 0 0 30px 5px rgba(165, 0, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.titulo {
  color: #B1A1ED;
}
